:root {
    --blue: rgb(21, 86, 201);
}
body, #root, html{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* height: 1000vh; */
    /*background-color: black;*/
    /*color: #fff;*/
}