.panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    width: 100%;
    background-color: #fff;
    color: var(--blue);
    transition: .2s;
    border: 3px solid var(--blue);
    cursor: pointer;
    font-size: 24px;
}
.addBtn:hover {
    transition: .2s;
    color: white;
    background-color: var(--blue);
}