p {
    margin: 0;
}

.device {
    padding: 50px 32px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.img {
    height: 400px;
    width: 400px;
    object-fit: scale-down;
}

.name {
    font-size: 48px;
    margin-bottom: 18px;
}

.deviceInfo {
    /*margin-right: 200px;*/
}

.price {
    font-size: 32px;
    margin-bottom: 12px;
}

.rating {
    font-size: 18px;
}

.deviceRating {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
}

.basket {
    border: 4px solid var(--blue);
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    box-sizing: border-box;
    padding: 70px 0;
}

.basketBtn {
    background-color: #fff;
    border: 3px solid var(--blue);
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}
.basketBtn:hover {
    transition: .3s;
    background-color: var(--blue);
    color: white;
}
.basketBtn:disabled {
    background-color: var(--blue);
    color: white;
    cursor: not-allowed;
}

.basketAndImg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.infoList {
    list-style: none;
    padding: 0;
    /*width: 50%;*/
}
.infoListItem {
    padding: 12px 16px;
    border: 2px solid var(--blue);
}
.infoListItem:nth-child(even) {
    background-color: var(--blue);
    color: white;
}

.warning {
    text-align: center;
    padding: 0 48px;
    color: #BF3131;
}

.countBtn {
    font-size: 18px;
    border: 2px solid var(--blue);
    color: var(--blue);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.countBtn:hover {
    transition: .2s;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

.counters {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    font-size: 18px;
}

.countersBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove {
    padding: 12px 24px;
    border: 2px solid #BF3131;
    color: #BF3131;
    transition: .2s;
    cursor: pointer;
}
.remove:hover {
    transition: .2s;
    background-color: #BF3131;
    color: white;
}
