.navbar {
    background-color: var(--blue);
    padding: 14px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.login {
    text-decoration: none;
    padding: 8px 14px;
    color: white;
    transition: .2s;
}
.login:hover {
    transition: .2s;
    background-color: #1d66ea;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
}
.profile:hover {
    background-color: #1d66ea;
    transition: .3s;
}