.input {
    width: 100%;
    border: 2px solid var(--blue);
    padding: 12px;
    outline: 3px solid transparent;
    transition: .2s;
    font-size: 14px;
}
.input:focus {
    transition: .2s;
    outline: 3px solid var(--blue);
}

.label {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.save {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.saveBtn {
    transition: .2s;
    border: 2px solid var(--blue);
    color: var(--blue);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.saveBtn:hover {
    transition: .2s;
    background-color: var(--blue);
    color: white;
}

.closeBtn {
    transition: .2s;
    border: 2px solid #BF3131;
    color: #BF3131;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.closeBtn:hover {
    transition: .2s;
    background-color: #BF3131;
    color: white;
}